@{
  Layout = "_Layout";
}

<h1>Add Parent</h1>

<form action="/parents" method="post">
  <label for="parentName">Parent name</label>
  <input id="parentName" name="parentName" type="text">
  <button type="submit">Add</button>
</form>

<p><a href="/parents">Vendors</a></p>
<p><a href="/">Home</a></p>